window.OPENSHIFT_CONSTANTS.ENABLE_TECH_PREVIEW_FEATURE = {
  // Enable the new landing page and service catalog experience
  service_catalog_landing_page: true,
  // Set to `true` when the template service broker is enabled for the cluster in master-config.yaml
  template_service_broker: false,
  pod_presets: true
};

window.OPENSHIFT_CONFIG.additionalServers = [{
  hostPort: "apiserver-service-catalog.{{ openshift_routing_suffix }}",
  prefix: "/apis"
}];
