apiVersion: v1
kind: Secret
metadata:
  name: aws-demo-secret
  namespace: aws-demo
stringData:
  aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY_ID') }}"
  aws_secret_key: "{{ lookup('env','AWS_SECRET_ACCESS_KEY') }}"

  db_password: dbpasswd
  db_username: dbuser
  openshift_target: https://{{ openshift_hostname }}:8443
  openshift_user: admin
  openshift_pass: admin
  subnet: {{ my_security_group_id }}
  vpc_security_groups: sg-aeaad6d1
