apiVersion: v1
kind: Secret
metadata:
  name: aws-demo-secret
  namespace: aws-demo
stringData: 
  aws_access_key: blahblah
  aws_secret_key: blahblah
  db_password: dbpasswd
  db_username: dbuser
  openshift_target: https://{{ openshift_hostname }}:8443
  openshift_user: admin
  openshift_pass: admin
  subnet: default-vpc-aad1eecc
  vpc_security_groups: sg-aeaad6d1
