apiVersion: v1
kind: Secret
metadata:
  name: {{ demo_project_name }}-secret
  namespace: {{ demo_project_name }}
stringData:
  aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY_ID') }}"
  aws_secret_key: "{{ lookup('env','AWS_SECRET_ACCESS_KEY') }}"
  db_username: {{ default_db_username }}
  db_password: {{ default_db_password }}
  openshift_target: https://{{ openshift_hostname }}:8443
  openshift_user: {{ cluster_user_password }}
  openshift_pass: {{ cluster_user_password }}
  subnet: {{ rds_subnet_group_name }}
  vpc_security_groups: {{ my_security_group_id }}
