---
####################################################
# Dockerhub Settings
####################################################
# For convenience you can skip being prompted for these vars by storing them here.
dockerhub_user_name: changeme
dockerhub_user_password: changeme
dockerhub_org: apbdemo


####################################################
# Broker Settings
####################################################
# use frozen image of asb from apbdemo org
broker_image_name: docker.io/apbdemo/origin-ansible-service-broker

# really only necessary when using the ansibleplaybookbundle org, but works in apbdemo as well, so I left it
broker_tag: canary

# keep pods around
broker_keep_namespace: true


####################################################
# Origin Settings
####################################################
# use the origin images we've uploaded to apbdemo.  Omit to use the latest origin images from openshift
origin_image_name: docker.io/apbdemo/origin

# locks down the oc client to the same version from the images we uploaded to apbdemo
openshift_clients:
  latest:
    url: https://s3.amazonaws.com/apb-oc/apbdemo
    release_ver: oc


####################################################
# AWS Settings
####################################################
# for Sydney, Australia
# aws_region: ap-southeast-2
# aws_ami_id: ami-39ac915a

