apiVersion: servicecatalog.k8s.io/v1alpha1
kind: ServiceBroker
metadata:
  name: ansible-service-broker
spec:
  url: {{ ansible_service_broker_address }}
  authInfo:
    basicAuthSecret:
      namespace: ansible-service-broker
      name: asb-auth-secret
