apiVersion: v1
data:
  tls.crt: {{ apiserver_cert_b64 }}
  tls.key: {{ apiserver_key_b64 }}
kind: Secret
metadata:
  annotations:
  name: apiserver-ssl
  namespace: service-catalog
  selfLink: /api/v1/namespaces/service-catalog/secrets/apiserver-ssl
type: kubernetes.io/tls
