apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: https://{{ service_catalog_endpoint }}
  name: service-catalog-cluster
contexts:
- context:
    cluster: service-catalog-cluster
  name: service-catalog-ctx
current-context: service-catalog-ctx
kind: Config
preferences: {}
