[aos]
name=Prerelease version of Atomic Enterprise Platform and OpenShift Enterprise RPMs
baseurl={{ omb_aos_repo }}
failovermethod=priority
enabled=1
gpgcheck=0
sslverify=0
sslclientcert=/var/lib/yum/client-cert.pem
sslclientkey=/var/lib/yum/client-key.pem
